.message {
  display: flex;
  justify-content: center;
  align-items: center;
}

.galleryImage {
  width: 400px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.modal_backdrop {
  position: fixed;
  top: 64px;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  /* z-index: 1200; */
}

.modal {
  max-width: calc(100vw - 48px);
  max-height: calc(100vh - 24px);
}

.modal_content {
  position: absolute;
  box-sizing: border-box;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: calc(100vh - 24px);
  width: 900px;
  object-fit: cover;
  object-position: center;
}

.image {
  display: block;
  width: inherit;
}